body {
    font-family: Arial, sans-serif;
    background-image: url('/assets/img/frank-mckenna-tjX_sniNzgQ-unsplash.jpg');
}
#resultados {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}